/*
	-------------------------------------------------------------------------------
	Note: You will not become the author of this code by removing this comment! 😉
	
	🧑‍💻 Coded by: Ali Raza
	🌐 https://www.0xAli.com
	Twitter: twitter.com/0xAliRaza
	Github: github.com/0xAliRaza

	Live preview: https://0xaliraza.github.io/dream-flowers-design/
	Repo url: https://github.com/0xAliRaza/dream-flowers-design
	-------------------------------------------------------------------------------
*/

/*
    Primary Color: #FC427B 
    Primary Color dark: #fb2164 
*/

/* ---------------------------------------------- */
/* BASIC STRUCTURE */
/* ---------------------------------------------- */
a:hover {
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	line-height: 1.15 !important;
	font-family: 'Lato', sans-serif;
	height: 100%;
	background-color: #fff;
	color: #555555;
	font-size: 20px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

section {
	padding: 80px 0;
}

/* ---------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------- */

.section-subtitle {
	line-height: 1.5;
	width: 70%;
	margin: 0 0 30px 15%;
}

.icon-big {
	font-size: 3.5rem;
	color: #fc427b;
	display: block;
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	color: #fc427b;
	font-size: 1.2rem;
	margin: -5px 5px 0 0;
	vertical-align: middle;
}

/* box */
.box {
	margin: 1% 0;
}
.box-text {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 20px;
}

/* buttons */
button:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn {
	display: inline-block;
	font-weight: 300;
	padding: 7px 30px;
	border-radius: 200px;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
	-o-transition: background-color 0.5s, color 0.5s, border 0.5s;
	transition: background-color 0.5s, color 0.5s, border 0.5s;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-right: 15px;
}

.btn-small {
	display: inline-block;
	line-height: 1.4;
	font-weight: 300;
	padding: 7px 20px;
	border-radius: 200px;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
	-o-transition: background-color 0.5s, color 0.5s, border 0.5s;
	transition: background-color 0.5s, color 0.5s, border 0.5s;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin: 0 auto 10px;
}

/* Filled button */
.btn-full,
.btn-full:visited {
	color: #fff;
	background-color: #fc427b;
	border: 1px solid #fc427b;
}
.btn-full:hover,
.btn-full:active {
	color: #fff;
	background-color: #fb2164;
	border: 1px solid #fb2164;
}

/* Transparent button */
.btn-ghost,
.btn-ghost:visited {
	color: #fc427b;
	background-color: transparent;
	border: 1px solid #fc427b;
}
.btn-ghost:hover,
.btn-ghost:active {
	color: #fff;
	background-color: #fb2164;
	border: 1px solid #fb2164;
}

/* Headings */

h1,
h2,
h3 {
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-weight: 300;
	margin-bottom: 15px;
	color: #fff;
	font-size: 2.4rem;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.8rem;
	word-spacing: 2px;
	letter-spacing: 1px;
}
h2::after {
	display: block;
	content: ' ';
	width: 100px;
	height: 2px;
	background-color: #fc427b;
	margin: 30px auto 0;
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

/* top navbar */
#navbar-top {
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	margin-top: 35px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#navbar-top .nav-item {
	margin-left: 40px;
}

#navbar-top li a:link,
li a:visited {
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	-o-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
	padding: 8px 0px !important;
	font-size: 0.9em;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}

#navbar-top li a:hover,
li a:active {
	border-bottom: 2px solid #fc427b;
}

.logo:link,
.logo:visited {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
	color: #fff;
	border: 1px solid #fc427b;
	padding: 5px;
	border-radius: 3px;
}

#navbar-top .navbar-toggler {
	border: none;
}
#navbar-top .navbar-toggler .navbar-toggler-icon {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(236,236,236)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	color: #ececec;
}

/* header content */
header {
	height: 100vh;
	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.67)),
			to(rgba(0, 0, 0, 0.67))
		),
		url(img/hero-bg.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)),
		url(img/hero-bg.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)),
		url(img/hero-bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

header .hero {
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.hero-text-box {
	margin: auto 0;
}

/* ---------------------------------------------- */
/* GALLERY */
/* ---------------------------------------------- */

.section-gallery {
	padding: 0;
}
.gallery-box {
	display: block;
	background-color: #000;
	overflow: hidden;
}
.gallery-box img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: 0.7;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	-o-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.gallery-box img:hover {
	cursor: pointer;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* ---------------------------------------------- */
/* FEATURED PRODUCTS */
/* ---------------------------------------------- */
.product-section {
	background-color: #f4f4f4;
}

.product-section .product-box {
	-webkit-transition: -webkit-box-shadow 0.2s;
	transition: -webkit-box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	padding: 10px;
}

.product-section .product-box:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.product-section .product-box img {
	margin-bottom: 10px;
}
.product-section .product-title {
	font-size: 0.9rem;
	font-weight: 400;
	margin-bottom: 5px;
}
.product-section .product-price span {
	color: #fc427b;
	font-size: 1rem;
	font-weight: 400;
}

/* ---------------------------------------------- */
/* CURRENT CITIES */
/* ---------------------------------------------- */

.current-cities {
	line-height: 1.15 !important;
	font-size: 1rem;
}
.current-cities .box img {
	max-height: 250px;
	margin-bottom: 15px;
}

.current-cities .city-feature {
	color: #fc427b;
	margin-bottom: 15px;
}
.current-cities .city-feature a,
.current-cities .city-feature a:visited {
	color: #fc427b;
	text-decoration: none;
	border-bottom: 1px solid #fc427b;
	-webkit-transition: color 0.5s, border-bottom 0.5s;
	-o-transition: color 0.5s, border-bottom 0.5s;
	transition: color 0.5s, border-bottom 0.5s;
}

.current-cities .city-feature a:hover,
.current-cities .city-feature a:active {
	color: #fb2164;
	border-bottom: 1px solid transparent;
}

/* ---------------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------------- */
.section-testimonials {
	padding: 0;
	height: 50vh;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.7)),
			to(rgba(0, 0, 0, 0.7))
		),
		url(img/testimonials-bg.jpg);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(img/testimonials-bg.jpg);
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#testimonials .carousel-item {
	line-height: 1.4;
	height: 100%;
	color: #ececec;
	font-weight: 400;
	font-size: 1.1rem;
}
#testimonials .carousel-item div {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
#testimonials .carousel-item img {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	margin-bottom: 20px;
}

#testimonials .carousel-item blockquote {
	font-size: 1rem;
	position: relative;
	margin: 0 auto 20px;
	max-width: 700px;
	font-weight: 300;
}

/* ---------------------------------------------- */
/* CONTACT US */
/* ---------------------------------------------- */
.contact iframe {
	min-height: 50vh;
	width: 100%;
}

/* ---------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------- */

footer {
	padding: 50px;
	background-color: #333333;
	color: #888888;
	font-size: 0.85rem;
}

#navbar-bottom a,
#navbar-bottom a:visited {
	color: #888888 !important;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
#navbar-bottom a:hover,
#navbar-bottom a:active {
	color: #ddd !important;
}

#navbar-bottom-icons .icon-small {
	color: #888888 !important;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
#navbar-bottom-icons .icon-small:hover,
#navbar-bottom-icons .icon-small:active {
	color: #ddd !important;
}

footer .copyright-msg {
	margin-top: 30px;
	font-size: 0.85rem;
	color: #888888;
}
